name: Go Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17.2
        ports:
          - 5433:5432
        env:
          POSTGRES_DB: maek_test
          POSTGRES_USER: maek
          POSTGRES_PASSWORD: passwd
        options: >-
          --health-cmd="pg_isready -U maek"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      CONFIG_FILE: ${{ github.workspace }}/config/config.toml
      CGO_ENABLED: '0'

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go 1.23.1
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.1

      - name: Install dependencies
        run: go mod tidy

      - name: Run tests
        run: go test -v ./...